body {
    margin: 0% auto;
    padding: 0% auto;
}
.signin {
    display: inline-block;
    background-color: rgb(98, 149, 153);
    padding: 3%;
    margin-left: 2%;
    border: solid none;
    border-radius: 7px;
}
.signinto a:hover {
    background-color: rgb(241, 238, 204) !important;
}
.container a:link, .container a:visited {
text-decoration: none;
color: black;
}   
.container {
    background-color: rgb(39, 196, 196);
    width: 40%;
    margin-left: 30%;
}
.dktv {
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 3px brown;
    margin-left: 10%;
    font-size: 10%;
    font-size: 150%;
}
.dktv p {
    margin-bottom: 0%;
}
table {
    padding-left: 6%;
}
td {
    padding: 3% 0% 3% 0%;   
}
table {
    margin-left: 20%;
}
input {
    border: solid 3px rgba(134, 33, 33, 0.63);
}
.submited {
    border: none;
    background-color: rgb(222, 213, 135);
    margin-left: 15%;
    padding: 2% 30% 2% 30%;
    border-radius: 5px;
    cursor: pointer;
}
.submited:hover {
    background-color: rgb(161, 168, 54);
}
#forget a:link, #forget a:visited {
    color: rgb(141, 7, 7);
}
.clickhere a:link, .clickhere a:visited {
    color: rgb(23, 20, 228);
}
.clickhere a:hover {
    color: deeppink;
}
#dk {
    display: block;
}
#dn {
    display: none;
}
#notice {
    text-align: center;
    color: rgb(214, 9, 9);
    background-color: yellow;
    display: none;
}